/*
================================================================================
|                                 variables                                     |
================================================================================
*/



// main: ../main.scss


/* COLOR text*/

$color-link: #0080d1;
$color-secondary-gray: #6f6f6f;
$color-progress: #010101;
$color-deadline-title: #4e4e4e;
$color-footer-menu: #537f9b;

/*BACROUND color*/

$bg-body: #f9f9f9;
$bg-menu-hover: #f7fcff;
$bg-orders-head: #1565c0;


$line-orders-head: #d4d4d4;
$line-orders-head-active: #0080d1;

$border-order: #f1f1f1;
$border-order-hover: #d2d2d2;